
.col-container {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    /*width : 100%;*/
    gap: 20px;
}

.media_copyright {
    font-size: x-small;
    font-family: 'Source Sans Pro', sans-serif;
    color: gray;
    margin-top: 10px;
}

.media-render figure img {
box-shadow: none;
}
.media-render figure {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  }
.media_description {
    font-size: 0.7rem;
    background: white;
    color: #1A1A1A;
    padding: 0 15px 20px 15px;
}

hr { 
    margin: 2rem; 
    width:100%;
    
}


.col-container > .col-first {
    
    flex-basis: 500px;
}

.col-container > .col-second {
    
    flex-basis: 100%;
}

.col-first p:first-child {
    
    margin-top: 0;
}

.col-first img {
    width: 100%;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);

}

.curr-title {
    font-size: x-large;
    font-family: 'Source Sans Pro', sans-serif;
    color : #0A0A0A; 
    font-weight: bold; 
    padding-bottom: 20px; 
    padding-left :30px
}

.des {
    font-size: medium;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom : 20px;
    padding-left :30px;
    
}

.footer {
    font-size: medium;
    font-family: 'Source Sans Pro', sans-serif; 
    bottom: 0;
    padding-bottom: 0; 
    margin-bottom: 0; 
    padding-left :30px;
}
.btn {
    background-color: white; 
    color: black; 
    border: 2px solid #F7CE46;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    
  }
 
.btn:hover {
    background-color: #F7CE46;
    color: white;
}

.footer>.btn:not(:last-child) {
 margin-right: 20px;
}

.topics-container h2 {
    text-align: center;
}

.topics-list-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));*/
    /*grid-auto-rows: 1fr;*/
    /*gap: 8px;*/
}

.topic-single {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e8e8e8;
    border-radius: 8px;
    padding: 12px;
    transition: background 0.3s ease;
}

.topic-single:hover {
    background: #ddd;
}

.topic-single h4 {
    margin: 4px 0 0;
}

.topic-single h4:first-child {
    text-align: center;
    margin: 12px 0;
}

.topic-single .fa {
    font-size: 1.2em;
    margin: 3px 0 6px;
}